﻿<div class="col-md-6" style="padding-top:10%">
    <div class="form-group col-md-12">
        <label>Departamento</label>
        <select class="form-control" data-bind="options: Departamentos,
                                                   optionsText: 'Nombre',
                                                   value: DeparmentoSeleccionado,
                                                   optionsCaption: 'Elige un Departamento...'">
        </select>
    </div>

    <div class="form-group col-md-12" data-bind="visible: SelectDeProvinciasVisible">
        <label>Provincia</label>
        <select class="form-control" data-bind="options: Provincias,
                                                   optionsText: 'Nombre',
                                                   value: ProvinciaSeleccionada,
                                                   optionsCaption: 'Elige una Provincia...'">
        </select>
    </div>

    <div class="form-group col-md-12" data-bind="visible: SelectDeDistritosVisible">
        <label>Distrito</label>
        <select class="form-control" data-bind="options: Distritos,
                                                   optionsText: 'Nombre',
                                                   value: DistritoSeleccionado,
                                                   optionsCaption: 'Elige un Distrito...'">
        </select>
    </div>

    <h1 data-bind="text: CodigoDeUbigeo"></h1>
</div>

<script>
    function UbigeosVistaModelo() {
        var self = this;
        self.Departamentos = ko.observableArray([]);
        self.Provincias = ko.observableArray([]);
        self.Distritos = ko.observableArray([]);
        self.DeparmentoSeleccionado = ko.observable('');
        self.ProvinciaSeleccionada = ko.observable('');
        self.DistritoSeleccionado = ko.observable('');

        $.get("/api/pais/listarDepartamentos")
            .then(function (listaDeDepartamentos) {
                self.Departamentos(listaDeDepartamentos);
            });

        self.DeparmentoSeleccionado.subscribe(function () {
            if (self.DeparmentoSeleccionado())
            {
                var idDepartamento = self.DeparmentoSeleccionado().Id;
                $.get("/api/pais/ListarProvincias?IdDepartamento=" + idDepartamento)
                    .then(function (listaDeProvincias) {
                        self.Provincias(listaDeProvincias);
                    });
            }
        })

        self.ProvinciaSeleccionada.subscribe(function () {
            if (self.ProvinciaSeleccionada()) {
                var idDepartamento = self.DeparmentoSeleccionado().Id;
                var idProvincia = self.ProvinciaSeleccionada().Id;          
                $.get('/api/pais/ListarDistritos?IdDepartamento=' + idDepartamento + '&IdProvincia=' + idProvincia)
                    .then(function (listaDistritos) {
                        self.Distritos(listaDistritos);
                    });
            }
        })

        self.CodigoDeUbigeo = ko.computed(function () {
            var todosLosSelectsSonCorrectos = self.DeparmentoSeleccionado() &&
                self.ProvinciaSeleccionada() &&
                self.DistritoSeleccionado();
            if (todosLosSelectsSonCorrectos) {
                return self.DeparmentoSeleccionado().Id +
                    self.ProvinciaSeleccionada().Id +
                    self.DistritoSeleccionado().Id;
            }
            return '';
        })

        self.SelectDeProvinciasVisible = ko.computed(function () {
            return self.DeparmentoSeleccionado() !== undefined;
        })

        self.SelectDeDistritosVisible = ko.computed(function () {
            return self.DeparmentoSeleccionado() !== undefined &&
                   self.ProvinciaSeleccionada() !== undefined;
        })

        return self;
    }
    var ubigeoVistaModelo = new UbigeosVistaModelo();
    ko.applyBindings(ubigeoVistaModelo);
</script>