﻿
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
<script src="~/signalr/hubs"></script>

<h2>Index</h2>

<script>
    var hub = $.connection.ChatHub

    hub.client.MensajeGlobal = function (mensaje) {
        console.log(mensaje);
    }

    function enviarMensaje(mensaje) {
        hub.server.enviarMensajeGlobal(mensaje);
    }

    $.connection.hub.start();
</script >