﻿
@{
    ViewBag.Title = "CrearVariableDeApplicacion";
}

<h2>CrearVariableDeApplicacion</h2>
@{
    string NombreApplicacion = System.Web.HttpContext.Current.Application["NombreApplicacion"].ToString();
}


<h1>@NombreApplicacion</h1>