﻿
@{
    ViewBag.Title = "CrearVariableDeSession";
}

<h2>CrearVariableDeSession</h2>

@{
    string NombreApplicacion = System.Web.HttpContext.Current.Application["NombreApplicacion"].ToString();
    string VariableDeSession = Session["Nombre"].ToString();
}
<h2>VariableDeSession</h2>
<h1>@VariableDeSession</h1>
<h2>NombreApplicacion</h2>
<h1>@NombreApplicacion</h1>

