﻿<div class="col-md-12">
    <div class="form-group row col-md-12">
        <label>Nombre</label>
        <input class="form-control" id="Nombre" />
    </div>
    <div class="form-group row col-md-12">
        <label>Precio</label>
        <input class="form-control" id="Precio" />
    </div>
    <div class="form-group row col-md-12">
        <label>CategoriaId</label>
        <input class="form-control" id="CategoriaId" />
    </div>
    <button type="button" class="btn btn-primary" id="Guardar">Guardar Producto</button>
</div>
