﻿<table id="TablaProductos" class="table table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Categoria</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
