﻿<h2>Mantenimiento de Productos</h2>

<div class="col-md-4">
    @Html.Partial("_FormularioDeProducto")
</div>

<div class="col-md-8">
    @Html.Partial("_TablaDeProductos")
</div>

<script src="~/Scripts/Frameworks/Utilitarios.js"></script>
<script src="~/Scripts/LogicaDeNegocio/productoJquery.js"></script>
