﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-md-12" id="FormularioDeProductos">
    <div class="form-group row col-md-12">
        <label>Nombre</label>
        <input class="form-control" data-bind="value: Nombre"/>
    </div>
    <div class="form-group row col-md-12">
        <label>Precio</label>
        <input class="form-control" data-bind="value: Precio" />
    </div>
    <div class="form-group row col-md-12">
        <label>CategoriaId</label>
        <input class="form-control" data-bind="value: CategoriaId"/>
    </div>
    <button type="button" class="btn btn-primary" id="Guardar">Guardar Producto</button>
</div>



<script>

    function ProductoViewModel() {
        var self = this;
        self.Nombre = ko.observable();
        self.Precio = ko.observable();
        self.CategoriaId = ko.observable();

        self.GuardarProductp = function () {
            $.post('', {
                Nombre: self.Nombre,
            }).then(function () {


            })
        }

        return self;
    }

    
    var productoViewModel = new ProductoViewModel();
    ko.applyBindings(productoViewModel);

</script>