﻿<div class="col-md-6" style="padding-top:10%">
    <div class="form-group col-md-12">
        <label>Departamento</label>
        <select class="form-control" id="SelectDeDepartamentos">
            <option value="00">Elige Departamento</option>
        </select>
    </div>

    <div class="form-group col-md-12">
        <label>Provincia</label>
        <select class="form-control" id="SelectDeProvincias">
            <option value="00">Elige Provincia</option>
        </select>
    </div>

    <div class="form-group col-md-12">
        <label>Distrito</label>
        <select class="form-control" id="SelectDeDistritos">
            <option value="00">Elige Distrito</option>
        </select>
    </div>
</div>

<script>
    desabilitarSelect('SelectDeProvincias');
    desabilitarSelect('SelectDeDistritos');

    $.get("/api/pais/listarDepartamentos")
        .then(function (listaDeDepartamentos) {
            listaDeDepartamentos.forEach(function (departamento) {
                AgregarOpcionAlSelect('SelectDeDepartamentos', departamento);
            });
        });

    $("#SelectDeDepartamentos").change(function () {
        limpiarSelectDeProvincias();
        limpiarSelectDeDistritos();
        desabilitarSelect('SelectDeProvincias');
        desabilitarSelect('SelectDeDistritos');
        if (this.value !== '00')
            $.get("/api/pais/ListarProvincias?IdDepartamento="+this.value)
                .then(function (listaDeProvincias) {
                    habilitarSelect('SelectDeProvincias');
                    listaDeProvincias.forEach(function (provincia) {
                        AgregarOpcionAlSelect('SelectDeProvincias',provincia);
                    });
                });
    });

    $("#SelectDeProvincias").change(function () {
        var idDepartamento = $("#SelectDeDepartamentos").val();
        limpiarSelectDeDistritos();
        if (this.value === '00') {
            desabilitarSelect('SelectDeDistritos');
            return;
        } 
        $.get('/api/pais/ListarDistritos?IdDepartamento=' + idDepartamento + '&IdProvincia=' + this.value)
            .then(function (listaDistritos) {
                habilitarSelect('SelectDeDistritos');
                limpiarSelectDeDistritos();
                listaDistritos.forEach(function (distrito) {
                    AgregarOpcionAlSelect('SelectDeDistritos', distrito);
                });
            });
    });

    function limpiarSelectDeProvincias() {
        $("#SelectDeProvincias").html('<option value="00">Elige Provincia</option>');
    }

    function limpiarSelectDeDistritos() {
        $("#SelectDeDistritos").html('<option value="00">Elige Distrito</option>');
    }

    function AgregarOpcionAlSelect(nombreSelect, opcion) {
        $("#" + nombreSelect).append('<option value="' + opcion.Id + '">' + opcion.Nombre + '</option>');
    }

    function desabilitarSelect(nombreSelect) {
        $('#' + nombreSelect).prop('disabled', 'disabled');
    }

    function habilitarSelect(nombreSelect) {
        $('#' + nombreSelect).removeAttr('disabled');
    }
</script>